root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
tab_width = 4

[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

[*.{json,jsonc,yml,xml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
insert_final_newline = false
